<a href="https://colab.research.google.com/github/FARSHAK3/MFARSHAK/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#operation program
print("Choice 1:Add, 2:Sub, 3:Div, 4:Mul, 5:Quit")
n1=input("Enter the choice of operation : ")
n=int(n1)
if(n==1):
  print("You have choosen addition operation.")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a+b
  print("The Result",a,"+",b,"=",c)
elif(n==2):
  print("you have choosen subtraction operation.")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a-b
  print("The Result",a,"-",b,"=",c)
elif(n==3):
  print("you have choosen division operation.")
  a1=input("Enter thr value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a/b
  print("The Result",a,"/",b,"=",c)
elif(n==4):
  print("you have choosen multiplication operation.")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a*b
  print("The Result",a,"*",b,"=",c)
elif(n==5):
  print("quit the operation")
  exit()

Choice 1:Add, 2:Sub, 3:Div, 4:Mul, 5:Quit
Enter the choice of operation : 4
you have choosen multiplication operation.
Enter the value for A: 3
Enter the value for B: 5
The Result 3 * 5 = 15

In [2]:
#fibonacci series
print("Fibonacci Series")
n1=input("Enter the number: ")
n=int(n1)
if(n>0):
  f=0
  s=1
  i=0
  next=0
  while(1):
    print("\n\n*******************************************")
    for i in range(n+1):
      if(i<=1):
        print(i)
      else:
        next=f+s
        f=s
        s=next
        print(next)
    i=i+1
    break
else:
  print("you have entered wrong input",n)
  exit()

Fibonacci Series
Enter the number: 4


*******************************************
0
1
1
2
3

In [3]:
#arithmetic operation
value1=eval(input("Enter the first number: "))
value2=eval(input("Enter the second number: "))
sum=value1+value2
print(value1,'+',value2,'=',sum)

Enter the first number: 4
Enter the second number: 7
4 + 7 = 11

In [4]:
#arithmetic operators
x=30
y=24
print('x+y=',x+y)
print('x-y=',x-y)
print('x*y=',x*y)
print('x/y=',x/y)
print('x//y=',x//y)
print('x**y=',x**y)

x+y= 54
x-y= 6
x*y= 720
x/y= 1.25
x//y= 1
x**y= 282429536481000000000000000000000000

In [5]:
#comparsion operators
x=10
y=5
print("x > y is",x>y)
print("x < y is",x<y)
print("x == y is",x==y)
print("x != y is",x!=y)
print("x >= y is",x>=y)
print("x <= y is",x<=y)

x > y is True
x < y is False
x == y is False
x != y is True
x >= y is True
x <= y is False

In [6]:
#logical operators
x=True
y=False
print("x and y is", x and y)
print("x or y is", x or y)
print("not x is",  not x)

x and y is False
x or y is True
not x is False

In [7]:
#identity operators
x1=5
y1=5
x2='Hello'
y2='Hello'
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is not y3)

False
True
True

In [8]:
#membership operators
x='Hello World'
y={1:'a',2:'b'}
print('E' in x)
print("hello" not in x)
print(2 in y)
print('a' in y)

False
True
True
False